html {
    font-family: "Courier", "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-size: 12px;
    min-height: 100%;
    min-width: 100%;
    margin:0;
    padding: 0;
    height: 100%;
}

#parallax {
    padding: 0;
    margin: 0;
    background-image: url("../images/PageAssets/forest.jpg");
    min-height: 100%;
    min-width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

a:link, a:visited {
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    height: 100%;
}

#stillALiveTitleImage {
    text-align: center;
    display: block;
    margin: auto;
}

header h1 {
    padding: 0;
    margin: 0;
}

#headspace {
    background-color: rgba(80, 10, 10, 0.9);
    border-radius: 5em;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

nav {
    width: 90%;
    margin-left: 5%;
    text-align: center;
}

nav a:link, nav a:visited {
    color: #888888;
    font-weight: bolder;
    font-size: 150%;
}

nav ul {
    list-style-type: none;
}