html {
    font-family: "Courier", "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-size: 12px;
    min-height: 100%;
    min-width: 100%;
    margin:0;
    padding: 0;
    height: 100%;
}

#parallax {
    padding: 0;
    margin: 0;
    background-image: url("../images/PageAssets/forest.jpg");
    min-height: 100%;
    min-width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

a:link, a:visited {
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    height: 100%;
}

#stillALiveTitleImage {
    text-align: center;
    display: block;
    margin: auto;
}

header h1 {
    padding: 0;
    margin: 0;
}

#headspace {
    background-color: rgba(80, 10, 10, 0.7);
    border-radius: 5em;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 0;
    margin: 0;
}

nav {
    width: 90%;
    margin-left: 5%;
    text-align: center;
}

nav a:link, nav a:visited {
    color: #888888;
    font-weight: bolder;
    font-size: 150%;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#underConstruction {
    padding: 0;
    margin: 0;
}

#homepageContent {
    background-color: rgba(80, 10, 10, 0.7);
}

#bodyspace {
    padding: 0;
    margin: 0 0 0 10%;
    background-color: rgba(160, 130, 130, 0.75);
    width: 80%;
    border-radius: 3em;
    
}

#homepageIntro {
    margin-top: 0;
    width: 90%;
    margin-left: 5%;
}

#homepageIntro h1 {
    margin-top: 0;
    text-align: center;
    text-transform: capitalize;
}

#homepageIntro a:visited, #homepageIntro a:link {
    text-transform: uppercase;
    color: black;
    text-decoration: underline;
    font-weight: 300;
}

footer {
    background-color: rgba(80, 10, 10, 0.7);
    border-bottom-left-radius: 5em;
    border-bottom-right-radius: 5em;
}

footer {
    text-align: center;
    font-weight: 800;
    font-size: 150%;
    color: #888888;
}

footer a:link, footer a:visited {
    color: #888888;
    font-size: 110%;
}

