html {
    font-family: "Courier", "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-size: 12px;
    background-color: #1d1c1c;
    margin:0;
    padding: 0;
}

a:link, a:visited {
    text-decoration: none;
}

h1, h2, p {
    color: #b4b4b4;
}

header {
    padding-top: 0.015em;
    padding-bottom: 0.015em;
    background-color: #6e0a06;
    margin-bottom: 1em;
    text-align: right;
}

#loginForm {
    display: none;
}

#logInBtn {
    margin-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    flex: 1;
    text-align: center;
    background-color: #1d1c1c;
    border: 2px solid #0d0c0c;
    //display: none;
}

#loginInfo {
    align-content: right;
    background-color: #6e0a06;
    display: flex;
}

#loginPlaceholderDiv {
    flex: 10;
    padding-bottom: 1em;
}

#loginSubmitButton {
    padding-right: 0.5em;
}

input[type="text"], input[type="password"], input[type="submit"] {
    font-size: 15px;
    background-color: #1d1c1c;
    color: #b4b4b4;
    border-color: #0d0c0c;
}

#loginLink:link, #loginLink:visited {
    color: #6e0a06;
    background-color: #5f5e5f;
    font-weight: bolder;
    font-size: 20px;
    border-radius: 1em;
    padding: 1em;
}

body {
    padding: 0;
    margin: 0;
}

#stillAliveTitleImage {
    text-align: center;
    margin: auto;
    display: block;
}

#columns {
    display: flex;
    padding: 0;
    margin: 0;
}

#leftColumn {
    flex: 1;
    padding-left: 0;
    margin-left: 0;
    display: flex;
}

#navigation {
    flex: 9;
    background-color: #6e0a06;
    border-bottom-right-radius: 1em;
}

#openCloseCarrot {
    background-color: #5f0a06;
    padding: 2em 0.5em;
    text-align: center;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
}

nav ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

nav ul li {
    font-size: 15px;
    padding-top: 1em;
    padding-bottom: 1em;
}

nav a {
    color: #b4b4b4;
    font-size: 20px;
}

#rightColumn {
    flex: 5;
}

#underConstruction {
    text-align: center;
}

footer {
    text-align: center;
    font-weight: 800;
    font-size: 150%;
    color: #b4b4b4;
}

footer a:link, footer a:visited {
    color: #b4b4b4;
    font-size: 110%;
}